<div class="container">

    <h2>Boosting divisions and leagues</h2>

    <h1>IMAGE WILL BE HERE</h1>


    <div class="calc">
    <table class="tabl">
      <tbody>

        <tr>
          <td class="wdth"><div><h4>Current league &amp; division:</h4></div></td>
          <td class="wdth1"></td>
          <td class="wdth"><h4>Desired league &amp; division:</h4></td>
          <td class="wdth"><h4>Calculator</h4></td>
        </tr>

        <tr>
          <td class="wdth">
            <label>Select league &amp; division:</label>
            <p>
              <select class="form-control wdth2">
                <% a = [['Bronze','1'],['Silver','2'],['Gold','3'],['Platinum','4'],['Diamond','5'],['Callenger','6']] %>
                <%= options_for_select(a) %>
              </select>

              <select class="form-control wdth2">
                <% b = [['Division 1','1'],['Division 2','2'],['Division 3','3'],['Division 4','4'],['Division 5','5']] %>
                <%= options_for_select(b) %>
              </select>
            </p>

          </td>

          <td class="wdth1"><%= image_tag('arrow.png', size: "100x90", alt: "arrow", class: 'arrow') %></td>

          <td class="wdth">
            <label>Select league &amp; division:</label>
            <p>
              <select class="form-control wdth2">
                <% c = [['Bronze','1'],['Silver','2'],['Gold','3'],['Platinum','4'],['Diamond','5'],['Callenger','6']] %>
                <%= options_for_select(c) %>
              </select>

              <select class="form-control wdth2">
                <% d = [['Division 1','1'],['Division 2','2'],['Division 3','3'],['Division 4','4'],['Division 5','5']] %>
                <%= options_for_select(d) %>
              </select>
            </p>

          </td>
          <td class="wdth">
            <label>Serwer:</label>
            <select class="form-control wdth2">
              <% d = [['EU West','1'],['EU Nordic&amp;East','2'],['North America','3'],['Brazil','4'],['Russia','5'],['RLatin America North','6'],['Latin America South','7'],['Oceania','8'],['Turkey','9']] %>
              <%= options_for_select(d) %>
            </select>

            <button class="btn-info">Calculate</button>
          </td>

        </tr>

        <tr>

        </tr>

      </tbody>
    </table>
  </div>
</div>