<header class="navbar navbar-inverse">
  <div class="navbar-inner">
      <div class="row col-md-12">

          <%= image_tag('fone2.png', class: 'bk-image') %>
          <%= link_to "elo-king", root_path, class: 'btn-warning pull-left' %>
        <% if user_signed_in? %>
          <ul class="nav nav-tabs pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Boost", calc_users_path %></li>
            <li><%= link_to 'Setting', edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'Log out', destroy_user_session_path , :method => :delete %></li>
          </ul>            
        <% else %>
          <ul class="nav nav-tabs pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Boost", calc_users_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          </ul>
        <% end %>
          
      </div>
  </div>
</header>