<header class="navbar navbar-inverse">
  <div class="navbar-inner">
      <nav>

          <%= link_to root_path do %>
            <%= image_tag('wor.png', class: 'root_image') %>
          <% end %>

        <% if user_signed_in? %>
          <ul class="nav nav-pills nav-stacked pull-right">
            <li><%= link_to 'User', '#' %></li>
            <li><%= link_to 'Log out', destroy_user_session_path , :method => :delete %></li>
            <li class="pull-right singedin"><%= current_user.email %></li>
          </ul>            
        <% else %>
          <ul class="nav nav-pills nav-stacked pull-right">
            <li><%= link_to 'Log in', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          </ul>
        <% end %>

        </nav>
  </div>
</header>