<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="row col-md-12">

      <%= link_to image_tag("logo.jpg", :border => 0, class: 'logo-img pull-left'), root_path %>

        <% if user_signed_in? %>

          <ul class="nav nav-tabs tabs pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Boosting<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Divisions", calc_users_path %></li>
                <li><%= link_to "Wins", calc_wins_users_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Setting', edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'Log out', destroy_user_session_path , :method => :delete %></li>
          </ul>     

        <% else %>

          <ul class="nav nav-tabs tabs pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Boosting<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Divisions", calc_users_path %></li>
                <li><%= link_to "Wins", calc_wins_users_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          </ul>
          
        <% end %>
          
    </div>
  </div>
</header>